<a href="https://colab.research.google.com/github/Jayakrishna143/python/blob/main/class_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

marks = float(input("Enter marks percentage: "))

assert 0 <= marks <= 100, "Marks percentage should be between 0 and 100"

if marks >= 90:
  print("Rank: A")
elif marks >= 75:
  print("Rank: B")
elif marks >= 55:
  print("Rank: C")
elif marks >= 45:
  print("Rank: D")
elif marks >= 35:
  print("Rank: E")
else:
  print("Rank: F")

Enter marks percentage: 35.7
Rank: E

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator: ")

if operator == '+':
  print(num1 + num2)
elif operator == '-':
  print(num1 - num2)
elif operator == '*':
  print(num1 * num2)
elif operator == '/':
  print(num1 / num2)

Enter first number: 23.5
Enter second number: 24.5
Enter operator: +
48.0

In [ ]:
x = input('please close the door id ac is on ')

In [ ]:
a = input('enter a string')
y = input("Enter the substring to search for: ")
last_occurrence = -1

for i in range(len(a) - len(y) + 1):
    if a[i:i + len(y)] == y:
        last_occurrence = i

print(f"The last occurrence of '{y}' is at index: {last_occurrence}")

enter a stringmalyalam
Enter the substring to search for: m
The last occurrence of 'm' is at index: 7

In [ ]:
len(a)

17

In [ ]:
a[14]

'd'

In [ ]:
sub = int(input("Enter num of subjects: "))
marks_list = []
tp =0
for i in range(sub):
  marks =float(input(f"Enter marks for subject {i+1}: "))
  assert 0 <= marks <= 100, "Marks should be between 0 and 100"
  tp+=marks
  marks_list.append(marks)
marks_list.sort()

z =marks_list[0]
tp = tp/sub

if z<35:
  print(f"you've failed in the examinations and seured: {tp}%")
else:
  if tp>=80:
    print(f"you've secured distinction with: {tp}%")
  elif tp>=60:
    print(f"you've secured first class with: {tp}%")
  else:
    print(f"you've secured second class with: {tp}%")

Enter num of subjects: 6
Enter marks for subject 1: 87
Enter marks for subject 2: 77
Enter marks for subject 3: 67
Enter marks for subject 4: 57
Enter marks for subject 5: 47
Enter marks for subject 6: 27
you've failed in the examinations and seured: 60.333333333333336%

In [ ]:
#counting how many sub failes
sub = int(input("Enter num of subjects: "))
marks_list = []
tp =0
f =0
for i in range(sub):
  marks =float(input(f"Enter marks for subject {i+1}: "))
  assert 0 <= marks <= 100, "Marks should be between 0 and 100"
  # this block is for counting how many sub the person has failed
  if marks<35:
    f+=1
  tp+=marks
  marks_list.append(marks)
tp = tp/sub

if f>0:
  print(f"you've failed in the {f} sub\s and seured: {tp}%")
else:
  if tp>=80:
    print(f"you've secured distinction with: {tp}%")
  elif tp>=60:
    print(f"you've secured first class with: {tp}%")
  else:
    print(f"you've secured second class with: {tp}%")

Enter num of subjects: 4
Enter marks for subject 1: 33
Enter marks for subject 2: 23
Enter marks for subject 3: 45
Enter marks for subject 4: 67
you've failed in the 2 sub\s and seured: 42.0%

In [ ]:

n = int(input( 'numebr of lines'))
for i in range(n):
  print('*'*(i+1))

numebr of lines5
*
**
***
****
*****

In [ ]:
n = int(input('enter no of lines:'))
for i in range(n):
  for j in range(i+1):
    print("*",end=' ')
  print()

enter no of lines:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input('enter no of lines:')) # for using one for loop
for i in range(n):
  for j in range(i,n-1):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

enter no of lines:5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
n = 5
for i in range(n):
  for j in range(i):
    print(" ",end =" ")
  for j in range(i,n):
    print('*',end = " ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# using 1 for loop

In [ ]:
for i in range(1,n+1):
  print('c'*(i+1)+'*'*(n-i))

cc****
ccc***
cccc**
ccccc*
cccccc

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print("c",end =" ")
  for j in range(i,n):
    print('*',end = " ")
  print()

c * * * * *
c c * * * *
c c c * * *
c c c c * *
c c c c c *

In [ ]:
n = 5
for i in range(n):
  for j in range(i):
    print("c",end =" ")
  for j in range(i,(n-1)):
    print('*',end = " ")
  print()

* * * *
c * * *
c c * *
c c c *
c c c c

In [ ]:
for i in range(n):
  print(" "*(n-i-1) + ("*"*(i+(i+1))))

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(n):
  for j in range(n-i-1):
    print(" ",end = " ")
  for j in range(i+(i+1)):
    print("*",end = " ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(n):
  for j in range(n-i-1):
    print("c",end = " ")
  for j in range(i+(i+1)):
    print("*",end = " ")
  for j in range(n-i-1):
    print("c",end = " ")
  print()

c c c c * c c c c
c c c * * * c c c
c c * * * * * c c
c * * * * * * * c
* * * * * * * * *

In [ ]:
for i in range(n):
  print(("c"*(n-i-1) + ("*"*(i+(i+1)))+ "c"*(n-i-1)))

ccccccccc*cccc
cccccccc***ccc
ccccccc*****cc
cccccc*******c
ccccc*********

In [ ]:
for i in range(n):
  print("c"*(n-i-1) + ("*"*(i+(i+1)))+ "c"*(n-i-1))

cccc*cccc
ccc***ccc
cc*****cc
c*******c
*********

*        *
**        **
***        ***
****        ****
*****        *****